$header-color: #E0C7ED;
$bio-color: #A492AD;

body {
  font-size: 100%;
  font-weight: 600;
  font-family: 'Crete Round', serif;
}
.container {
  margin-bottom: 2em;
  img {
    width: 90%;
    border-radius: 5%;
    margin: 1em;
  }
}

.bio {
  &-container {
    display: flex;
    flex-direction: column;
  }
  &-header {
    background: $header-color;
    margin-bottom: 1em;
    padding: 1em;
  }
  &-content {
     background: $bio-color;
     padding: 1em;
  }
  &-menu{
    display: flex;
    border-bottom: solid 4px $bio-color;
    ul {
      list-style-type: none;
      display: inline-flex;
      flex: 1;
      justify-content: space-around;
      padding: 0;
      
      margin: 1em;
    }
  } 
}

.footer {
  background: $bio-color;
  margin: 1em 0 1em 0;
  width: 100%;
  height: 3em;
  p {
    padding:1em;
  }
}


 @media only screen and (min-width: 30em) {
  .bio-container{ 
    display: inherit;
  }

  .container {
    margin-top: 20%;
    img { 
      float:left;
      width: 15em;
    }
  }
}

@media only screen and (min-width: 82em) {
  .bio-content {
    padding: 2.5em;
  }
 }