@import "_profilecard";
@import "_contactme";

$blog-color: #524964;
$blog-text: #fff;
$blog-month: #000;
$bio-color: #A492AD;

body {
	font-size:100%;
	font-weight: 600;
}
.blog {
	display: flex;
	flex-direction: column-reverse;
	&-body{
		background: $bio-color;
		padding: 0.3em 0.3em 1em 0.3em;
		display: flex;
		flex-direction: column-reverse;
	}
	&-header {
		display: flex;
		justify-content: center;
	}
	&-content {
		padding: 1em;
	}
}

@media only screen and (min-width: 30em) {
	body {
		margin: 0 15% 0 15%;
	}
}
